<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Item</title>
    <link rel="stylesheet" type="css" href="../../static/style.css" th:href="@{/static/style.css}">
</head>
<body>
<div class="creation">
    <form th:method="put" action="#" th:action="@{/inventory/edit/} + ${{item.id}}" th:object="${inventoryForm}">
        Product Name
        <input type="text" th:value="${item.name}" name="name"/><br/><br/>
        Description
        <input type="text" th:value="${item.description.text}" name="text" /><br/><br/>
        Manufacturer
        <input type="text" th:value="${item.manufacturer}" name="manufacturer" /><br/><br/>
        Category
        <input type="text" th:value="${item.category}" name="category"/><br/><br/>
        Cost
        <input type="number" th:value="${item.cost}" name="cost"/><br/><br/>
        Buying Dat
        <input type="text" th:value="${item.buyingDate}" name="buyingDate"/><br/><br/>
        Status
        <input type="text" th:value="${item.status}" name="status"/><br/><br/>
        <table>
            <tr>
                <td>Select Employee:</td>
                <td>
                    <select name="owner" id="owner" >
                        <option th:each="employee : ${employees}"
                                th:value="${employee.id}"
                                th:selected="${item.owner.id == employee.id}"
                                th:text="${employee.toShort()}">
                        </option>
                    </select>
                </td>
            </tr>
        </table>
        <input type="submit" value="Save"/>
    </form>
</div>

</body>
</html>